@{
    ViewBag.Title = "Index";
}

<h1 class="display-1" style="text-align:center">
    Wizard
    <small class="text-muted">Progress</small>
</h1>
<hr />
<div ng-controller="GetTablesCtrl">
    <div id="wizardGrid" ag-grid="gridOptions" style="font-size:8pt;" class="ag-fresh"></div>
</div>





