@{
    ViewBag.Title = "Index";
}

<h1 class="display-1" style="text-align:center">
    Wizard
    <small class="text-muted">Progress</small>
</h1>
<hr />
<div ng-controller="GetTablesCtrl">
    <tree-grid style="font-size: 12px;" tree-data="tree_data"></tree-grid>
</div>





