@{
    ViewBag.Title = "Table";
}
<body>

    <p style="text-align:right;">
        <div id="childTableCSS">
            <center>
                <h1 class="display-1">
                    @ViewBag.TableName
                    <small class="text-muted">Table</small>
                </h1>
                <hr />
            </center>
        </div>
    </p>
    <div style="text-align:left">
        <div ng-if="associatedTablesExist">
            <div style="padding-left: 12pt; font-weight: bold;">@*<i class="fa fa-info" aria-hidden="true"></i>*@ Associated Tables:</div>
            <md-list-item ng-repeat="Table in associatedTables">@*<md-checkbox class="orange" aria-label="false"></md-checkbox>*@<a class="sidenav" href="#Table/{{Table.Item2}}" ng-click="Load()">{{Table.Item1}}</a></md-list-item>
        </div>
        <md-button class="md-raised" ng-click="onAddRow()"><i class="fa fa-plus" aria-hidden="true"></i> Add New Record </md-button>
        <md-button class="md-raised" ng-click="onRemoveSelected()"><i class="fa fa-times" aria-hidden="true"></i> Delete Selected Record </md-button>
        <md-button ng-click="sizeToFit()">Size to Fit</md-button>
        <md-button ng-click="autoSizeAll()">Auto-Size All</md-button>
    </div>

    <div id="myGrid" ng-if="dataLoaded" ag-grid="gridOptions" style="height: 100%; width:100%; font-size:8pt" class="ag-fresh"></div>
    <div ng-if="!dataLoaded">
        <div class="container" style="margin-left:0px;margin-right:0px">
            <md-progress-linear md-mode="indeterminate" ng-disabled="!isLoading"></md-progress-linear>
            <div class="bottom-block">
                <span ng-if="isLoading">Loading data..</span>
                <span style="color:orange" ng-if="!isLoading">Error</span>
            </div>
        </div>
    </div>

</body>