@{
    ViewBag.Title = "Table";
}
<body @*ng-controller="exampleCtrl"*@>
    <p style="text-align:right;">
        <div id="childTableCSS">
            <center>
                <h1 class="display-1">
                    @ViewBag.TableName
                    <small class="text-muted">Table</small>
                </h1>
                <hr />
            </center>
        </div>
    </p>
    <md-button class="md-raised"  ng-click="addRecord()"> Add New Record </md-button>
    <div ng-if="dataLoaded" ag-grid="gridOptions" style="height: 100%;" class="ag-fresh"></div>
    <div ng-if="!dataLoaded">
        <div class="container" style="margin-left:0px;margin-right:0px">
            <md-progress-linear md-mode="indeterminate" ng-disabled="!isLoading"></md-progress-linear>
            <div class="bottom-block">
                <span ng-if="isLoading">Loading data..</span>
                <span style="color:orange" ng-if="!isLoading">Error</span>
            </div>
        </div>
    </div>
    @*<div ag-grid="gridOptions" style="height: 100%; border-color: gray" id="tableEditorGrid" class="ag-fresh"></div>*@
</body>