@{
    ViewBag.Title = "Table";
}

@*Generic screen, does what 'index'/sys_config does but generically*@
@*<div class="se-pre-con"></div>*@
<p style="text-align:right;">
    <div id="childTableCSS">
        <center>
            <h1 class="display-1">
                @ViewBag.TableName
                <small class="text-muted">Table</small>
            </h1>
        </center>
    </div>
</p>
<div class="table">
    <table ngtable="" class="table table-bordered table-hover table-condensed" show-filter="true">
        <thead>
            <tr ng-repeat="Headers in TableHeaders">
                <th>{{Headers}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="Data in TableData">
                <td>{{Data}}</td>
                </tbody>
    </table>
    </div>
