@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "main-header" }))
    {
        @Html.AntiForgeryToken()
        <script>
            console.log("(Logged in)");
        </script>
        <div ng-controller="SideNavCtrl">
            <nav2>
                <div>
                    <md-button ng-click="toggleLeft()" class="md-custom" hide-gt-md="" aria-label="false">
                        <i class="fa fa-magic" aria-hidden="true"></i>
                    </md-button>
                </div>
            </nav2>
            <nav1>
                <ul>
                    <li><a href="/Home"><img src="/Images/ExceedraLogo_White.png" style="width:228px;" /></a></li>
                    <li>
                        @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>
                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </nav1>

        </div>
    }
    //Actually only want to see this when in table (whatever mode..)
    <div ng-controller="SideNavCtrl" @*layout="column"*@ style="height:10px;" ng-cloak="">
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-whiteframe="4">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding="" ng-controller="LeftCtrl">
                @*<md-button ng-click="close()" class="md-raised" hide-gt-md="">
                    Close Sidenav Left
                </md-button>*@
                <md-list ng-controller="GetTablesCtrl" class="md-dense" flex>
                    <md-subheader @*class="md-no-sticky"*@><i class="fa fa-bars" aria-hidden="true"></i>    Navigation - should be disabled when relevant, all active for now </md-subheader>
                    <md-list-item><a class="sidenav" href="#/">Home Setup</a></md-list-item>
                    <md-list-item><a class="sidenav" href="#ModeSetup">Mode Setup</a></md-list-item>
                    <md-list-item><a class="sidenav" href="#Table/SYS_Config">Test agGrid (should be same as clicking SYS_Config below)</a></md-list-item>
                    <md-list-item><a class="sidenav" href="#Index">Test Table Editor</a></md-list-item>
                    <md-subheader @*class="md-no-sticky"*@><i class="fa fa-magic" aria-hidden="true"></i>    Wizard (Disabled in Wizard Mode), can only use forward and back?</md-subheader>
                    <md-list-item>Wizard tree grid..</md-list-item>
                    <md-subheader @*class="md-no-sticky"*@><i class="fa fa-table" aria-hidden="true"></i>    Tables (Disabled in Wizard Mode)</md-subheader>
                    @*<md-list-item ng-repeat="Table in TableList"><md-checkbox class="orange" aria-label="false" ></md-checkbox><a class="sidenav" href="#Table" ng-click="LoadTableContent(Table)">{{Table}}</a></md-list-item>*@
                    <md-list-item ng-repeat="Table in TableList">@*<md-checkbox class="orange" aria-label="false"></md-checkbox>*@<a class="sidenav" href="#Table" ng-click="LoadTableData(Table)">{{Table}}</a></md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
    </div>
}
else
{
    <script>
        console.log("(Logged out)");
    </script>
    <header class="main-header">
        <nav2>
            @*<div id="st-trigger-effects" class="column">
                    <button data-effect="st-effect-2"><i class="fa fa-bars" aria-hidden="true"></i></button>
                </div>*@
        </nav2>
        <nav1>
            <ul>
                <li><a href="/Home"><img src="/Images/ExceedraLogo_White.png" style="width:228px;" /></a></li>
                <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>

            </ul>
        </nav1>
    </header>
}