<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConfigTool.Properties.Settings.ESP_Demo_DEV_UK_v2_9ConnectionString"
            connectionString="Data Source=exceedracom.cloudapp.net,10315;Initial Catalog=ESP_Demo_DEV_UK_v2_9;User ID=WebApp;password=ExceedraLondon1!"
            providerName="System.Data.SqlClient" />
        <add name="ConfigTool.Properties.Settings.ESP_Demo_DEV_UK_v2_9ConnectionString1"
            connectionString="Data Source=exceedracom.cloudapp.net,10315;Initial Catalog=ESP_Demo_DEV_UK_v2_9;User ID=WebApp;password=ExceedraLondon1!;Connect Timeout=60"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>