@using System.Diagnostics.Eventing.Reader
@using System.Web.UI.WebControls

@*@model Exceedra.Web.Areas.app.Models.DashboardModel

@functions {
    private string ConvertBoolToDisplay(bool isDisplayed)
    {
        return isDisplayed ? "" : "none";
    }

}*@
@{
    ViewBag.Title = "Dashboard";
}

<h2>@ViewBag.Title</h2>
  