<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Exceedra.DB.Properties.Settings.ESP_Demo_DEV_FoodDrink_v2_8ConnectionString"
            connectionString="Data Source=tcp:exceedra-uk-rd.database.windows.net,1433;Initial Catalog=ESP_Demo_DEV_FoodDrink_v2_8;User ID=WebApp;Password=ExceedraLondon1!;Connect Timeout=60;Encrypt=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>