@model IEnumerable<WebApplication2.Models.SetupModels>

@{
    ViewBag.Title = "Setup";
}

<h2>Setup</h2>

<div class="left-panel" >
    I don't know what this screen needs - connection string to which database you want to use?
    ....
</div>
<div class="right-panel">

</div>
