<client>
  <endpoint address="http://exceedra-rand.azurewebsites.net/Webservices/v2_8/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />

  <!-- 
  Logging config isActivce only needs to be set to true when you want elmah to be used while developing the app.
  When app is deployed live the LogginConfig data needs to go into the Conlfig\Client.config file!
  -->
  <LoggingConfig name="thecompanyname" releaseLevel="Dev" isactive="0" endpoint="https://exceedraapi.azurewebsites.net/error/log" />

  <!-- name:  the name of the client/customer that is running this application -->
  <!-- releaseLevel:  dev/qa/prod etc, just a label to allow on customer to have multiple versions of the app running in different environments -->
  <!-- isactive: 1 = true (data will be sent to logger) 0 = false (it wont)-->
  <!-- endpoint: the REST location for the logger -->

</client> 

<!--<client>
  <endpoint address="http://localhost:33632/Webservices/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />
</client>-->

<!-- if https is being used make sure Bindings.config security Mode is set to Transport-->
<!-- if http is being used make sure Bindings.config security Mode is set to None-->


<!--2.3-->
<!--<client>
  <endpoint address="http://localhost:33632/Webservices/v2_3/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />
</client>-->


<!--2.2-->
<!--<client>
  <endpoint address="http://localhost:33632/Webservices/v2_2/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />
</client>-->

<!--2.1-->
<!--<client>
  <endpoint address="http://localhost:33632/Webservices/v2_1/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />
</client>-->

<!--2.0-->
<!--<client>
  <endpoint address="http://localhost:33632/Webservices/v2_0/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />
</client>-->