<client>
  <endpoint address="http://localhost:33632/Webservices/WebService.asmx" binding="basicHttpBinding"
            bindingConfiguration="WebServiceSoap" contract="ServiceReference1.WebServiceSoap" name="WebServiceSoap" />
  <endpoint address="http://exceedra-uat/ReportServer/ReportExecution2005.asmx" binding="basicHttpBinding"
            bindingConfiguration="ReportExecutionServiceSoap" contract="AzureReportService.ReportExecutionServiceSoap"
            name="ReportExecutionServiceSoap" />
</client>